Successfully Authenticated to Panorama at {{ context['TARGET_IP'] }}.

The following mappings are currently configured:
---
{%- if registered_ips["response"]["result"]["entry"] is mapping %}
    {%- set entries = [registered_ips["response"]["result"]["entry"]] %}
{%- else %}
    {%- set entries = registered_ips["response"]["result"]["entry"] | list %}
{%- endif %}
{%- for i in entries %}
    IP Address:  {{ i["@ip"] }}
    {%- if i["tag"]["member"] is string %}
        Member: {{ i["tag"]["member"] }}
    {%- else %}
        {%- for m in (i["tag"]["member"] | list) %}
        Member: {{ m }}
        {%- endfor %}
    {%- endif %}
---
{% endfor %}
