Successfully Authenticated to Panorama at {{ context['TARGET_IP'] }}.

The following mappings are currently configured:
---
{%- for i in (registered_ips["response"]["result"]["entry"] | list) %}
    IP Address:  {{ i["@ip"] }}
    {%- if i["tag"]["member"] is string %}
        Member: {{ i["tag"]["member"] }}
    {%- else %}
        {% for m in (i["tag"]["member"] | list) %}
        Member: {{ m }}
        {% endfor %}
    {%- endif %}
---
{% endfor %}
