{%- if 'unregister' in context['dag_unregister'] %}
    {%- set results = (context['unregister_response'])["response"]["result"]["@status"] %}
    {%- if results == "success" %}
Unregister Results were Successful
    {%- else %}

{{ context['unregister_response'] | tojson(4) }}

    {%- endif %}
{%- else %}
    {%- set results = (context['register_response'])["response"]["result"]["@status"] %}

    {%- if results == "success" %}
Register Results were Successful
    {%- else %}

{{ context['register_response'] | tojson(4) }}

    {%- endif %}
{%- endif %}
